@use '../../../styles/variables' as *;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  border-radius: 99px;
  border: 1px solid rgba(199, 209, 213, 0.3);
  padding: 0 10px;
  font-family: $font-mono;
  font-weight: 100;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(154, 174, 181, 1);
}

.secondary {
  color: #ffffff;
  border-color: rgba(242, 242, 242, 0.1);
}
